@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@model HeartDisease.ViewModels.OrderManagementViewModel

@Html.Partial("_AdminNavBar")
<h2>Order Management</h2>

@if (Model.Orders != null && Model.Orders.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Last Motified Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.UserId</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                        @if (Model.OrderHistories.ContainsKey(order.OrderID))
                        {
                            foreach (var history in Model.OrderHistories[order.OrderID])
                            {
                                    <td>@history.DateModified.ToString("dd/MM/yyyy")</td>
                                    <td>@history.Status</td>
                            }
                        }
                    </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}
}
